html
{
    margin: 20px;
    background-color: rgb(238, 243, 255);
}

.cabecalho
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #679DE6;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.link
{
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border-radius: 10px; 
}

hr
{
    color: gold;
}

.eu
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.hobbies
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.musicas
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.jogos
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.anexos
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}